* {
    box-sizing: border-box;
}

:root {
    --line-border-empty: #ffe3fe;
    --line-border-fill: #440a67;
}

body {
    background-color:#b4aee8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    align-items: center;
    text-align: center;
}

/* to show progress gray line  */

.progress-container::before {
    content: "";
    position: absolute;
    height: 4px;
    background-color: var(--line-border-empty);
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.circle {
    background-color: white;
    color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 4px solid var(--line-border-empty);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 100%;
    width: 350px;
    margin-bottom: 20px;
}

.progress {
    position: absolute;
    height: 4px;
    background-color: var(--line-border-fill);
    width: 0%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.2s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
    transition: all 0.4s ease;
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    font-family: cursive;
    border-radius: 6px;
    font-size: 1rem;
    padding: 0.4rem 2rem;
    margin: 0.5rem;
    border: 0;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.9);
}

.btn:disabled {
    cursor: not-allowed;
    background-color: var(--line-border-empty);
}

.btn:focus{
    outline: 0;
}